<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hml.mall.mapper.order.OrderMapper">

	<select id="findCount" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
		select t1.*,t2.username,t2.nickname,t2.openid,t4.balance 
		,case when t2.usertype = 1 and t1.buyorsal = 'B' then t1.comm * 0.33 else 0 end as transcomm 
		from (
			SELECT userno,sum(price) as price,sum(loss) as loss,sum(comm) as comm,(sum(loss) -sum(comm)) as diff,wareno,count(1) as xznum
			,case when BUYORSAL='S' then '庄' else '闲' end as bs,buyorsal
			FROM tb_jy_order
			<where>
				<if test="btime != null and btime != ''">
					and ordtime &gt;= #{btime}
				</if>
				<if test="etime != null and etime != ''">
					and ordtime &lt;= #{etime}
				</if>
				<if test="userno != null and userno != ''">
					and userno = #{userno}
				</if>
			</where>
			group by userno,wareno,BUYORSAL
		) t1 
		left join tb_hy_user t2 on t1.userno = t2.userno
		left join ( 
			SELECT USERNO, max( FDATE ) AS FDATE FROM tb_zj_usermoney GROUP BY USERNO 
		) t3 ON t1.USERNO = t3.USERNO  
		LEFT JOIN tb_zj_usermoney t4 ON t3.FDATE = t4.FDATE AND t3.USERNO = t4.USERNO 
		<where>
				<if test="username != null and username != ''">
					and t2.username like CONCAT('%',#{username},'%')
				</if>
				<if test="nickname != null and nickname != ''">
					and t2.nickname like CONCAT('%',#{nickname},'%')
				</if>
			</where>
			order by userno
		<if test="pageIndex != null and pageIndex != ''">
			limit #{pageIndex},#{pageSize}
		</if>
	</select>
	
	<select id="findCountSum" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
		select count(1) as TOTAL,sum(price) as price,sum(loss) as loss,sum(comm) as comm,(sum(loss) -sum(comm)) as diff 
		,sum(case when t2.usertype = 1 and t1.buyorsal ='B' then comm * 0.33 else 0 end) as transcomm  
		from (
			SELECT userno,sum(price) as price,sum(loss) as loss,sum(comm) as comm,wareno
			,case when BUYORSAL='S' then '庄' else '闲' end as bs,buyorsal
			FROM tb_jy_order
			<where>
				<if test="btime != null and btime != ''">
					and ordtime &gt;= #{btime}
				</if>
				<if test="etime != null and etime != ''">
					and ordtime &lt;= #{etime}
				</if>
				<if test="userno != null and userno != ''">
					and userno = #{userno}
				</if>
			</where>
			group by userno,wareno,BUYORSAL
		) t1 
		left join tb_hy_user t2 on t1.userno = t2.userno
		 <where>
				<if test="username != null and username != ''">
					and t2.username like CONCAT('%',#{username},'%')
				</if>
				<if test="nickname != null and nickname != ''">
					and t2.nickname like CONCAT('%',#{nickname},'%')
				</if>
			</where>
	</select>
	
	<select id="findFYCount" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
		select t1.userno,t1.username,t1.nickname,t1.sex,t2.tjnum,t3.transcomm
		from tb_hy_user t1
		left join (
			select openid,count(1) as tjnum from tb_hy_user where openid != '' group by openid
		) t2 on t1.userno = t2.openid
		left join (
			SELECT contno,sum(transcomm) as transcomm FROM tb_jy_order where contno != '' 
			<if test="btime != null and btime != ''">
				and ordtime &gt;= #{btime}
			</if>
			<if test="etime != null and etime != ''">
				and ordtime &lt;= #{etime}
			</if>
			group by contno
		)  t3 on t3.contno = t1.userno
		<where>
				<if test="userno != null and userno != ''">
					and t1.userno = #{userno}
				</if>
				<if test="username != null and username != ''">
					and t1.username like concat('%', #{username},'%')
				</if>
				<if test="nickname != null and nickname != ''">
					and t1.nickname like concat('%', #{nickname},'%')
				</if>
			</where>
		order by userno
		<if test="pageIndex != null and pageIndex != ''">
			limit #{pageIndex},#{pageSize}
		</if>
	</select>
	
	<select id="findFYCountSum" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
		select count(1) as TOTAL,sum(t2.tjnum) as tjnum,sum(t3.transcomm) as transcomm  
		from tb_hy_user t1
		left join (
			select openid,count(1) as tjnum from tb_hy_user where openid != '' group by openid
		) t2 on t1.userno = t2.openid
		left join (
			SELECT contno,sum(transcomm) as transcomm FROM tb_jy_order where contno != '' 
			<if test="btime != null and btime != ''">
				and ordtime &gt;= #{btime}
			</if>
			<if test="etime != null and etime != ''">
				and ordtime &lt;= #{etime}
			</if>
			group by contno
		)  t3 on t3.contno = t1.userno
		<where>
				<if test="userno != null and userno != ''">
					and t1.userno = #{userno}
				</if>
				<if test="username != null and username != ''">
					and t1.username like concat('%', #{username},'%')
				</if>
				<if test="nickname != null and nickname != ''">
					and t1.nickname like concat('%', #{nickname},'%')
				</if>
			</where>
	</select>
</mapper>
